/* TODO:
    Implement a loader function on login start chat, register, clear chat, ai typing reponse
*/


/* google font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* default colors */
*{
    /* transition: .25s all; */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
:root{
    --primary-purple: #6f47e4;
    --secondary-purple: #9e75ff;
    --white: #fafafa;
    --shadows: #ecebfb;
    --color1: #161719;
    --color2: #26272b;
    --text: #5c5c5c;
    --highlight1: #56b273;
    --highlight2: #b388dd;
    --highlight3: #ff8750;
    --highlight4: #01AD9B;

}

.bg-white{
    background-color: var(--white);
}

.primary{
    color: var(--primary-purple);
}
.white{
    color: var(--white);
}

.secondary{
    color: var(--secondary-purple)
}

.bg-primary{
    background-color: var(--primary-purple);
}

.black{
    color: rgb(29, 29, 29);
}

.bg-black{
    background-color: rgb(29, 29, 29)
}

.register-btn:hover{
    background-color: var(--primary-purple);
    color: var(--white);
}

.login-btn:hover{
    background-color: var(--secondary-purple);
}

.bg-secondary{
    background-color: var(--secondary-purple);
}

.start-chat{
    transition: .05s ease-in-out;

}
.start-chat:hover{
    background-color: var(--primary-purple);
    color: var(--white);
}

.character-card{
    height: 230px;
    position: relative;
    border-radius: 10px;    

}

.image-container{
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;    

}

.card-details{
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(0,0,0,1));
    width: 100%;
    height: 100%;
    padding-top: 55%;
    padding-left: 10px;
}

.book-name{
    font-size: 12px;
}

.login-background-image{
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .7), rgba(255, 255, 255, .7)), url('/images/login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center;
    height: 100%;
}

.register-background-image{
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .7), rgba(255, 255, 255, .7)), url('/images/register.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center;
    height: 100%;
}

.home-section{
    height: 100vh;
}

.message-bubble{
    border-radius: 30px;
    background-color: var(--shadows);
    color: var(--text);
    font-size: 0.9em;
    line-height: 1;
    padding: 15px 25px;
    margin-bottom: 40px;
    position: relative;
    word-wrap: break-word;
    width: 50%;
    white-space: pre-wrap;

}

.user-message {
  border-right: 3px solid;
  border-left: 3px solid;
  border-color: var(--highlight2);
  align-self: flex-start;
  margin-left: auto;
}

.assistant-message{
  border-right: 3px solid;
  border-left: 3px solid;
  border-color: var(--highlight1);
  align-self: flex-end;
  margin-right: auto;
}

.messages-container{
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-container{
    background-color: var(--shadows);
    width: 100%;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-container > input{
    background: none;
    outline: 0;
    border: 0;
    font-size: 0.9em;
    width: 90%;

}

input:focus{    
    box-shadow: none;
}

#send-button{
    margin-right: 10px;
    line-height: 10px;
    padding: 10px;
    height: 35px;
    width: 35px;
    color: var(--white);
    background-color: var(--secondary-purple);
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

#send-button:hover{
    background-color: var(--primary-purple);
}

#close-chat-button{
    margin: 0 15px;
    color: var(--primary-purple);
    cursor: pointer;
}

.chat-title-container{
    display: flex;
    align-items: center;
}

.hide{
    display: none;
}



/* mediaqueries */
@media only screen and (max-width: 600px) {
    .card-details{
    width: 100%;
    height: 100%;
    padding-top: 35%;
    padding-left: 10px;
}


.login-background-image{
    height: 100vh;
}
.message-bubble{
    font-size: 0.6em;
    line-height: 1;
    padding: 10px 15px;
    margin-bottom: 40px;
    position: relative;
    word-wrap: break-word;
    width: 65%;
    white-space: pre-wrap;

}



}